* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-family: 'Kanit', sans-serif;
}

.box0 {
    height: 100%;
    width: 100%;
    background-color: #666666;
    background-image: url('https://images.hdqwalls.com/wallpapers/dark-night-mountains-minimalist-4k-o4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-box {
    width: 480px;
    height: 540px;
    position: relative;
    background: #fff;
    padding: 5px;
    border-radius: 15px;
}

.botto {
    width: 400px;
    margin: 35px auto;
    position:  relative;
    box-shadow: 0 0 22px 10px #ff61241f;
    border-radius: 30px;
}

.botton01 {
    background: rgb(32, 32, 32);
    border-radius: 30px;
    transition: .5s; 
    font-size: 30px;
    color: white;
    padding: 10px 80px ;
    position: absolute;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.27);
}


.input-g {
    top: 150px;
    margin: -5px 0 0 120px;
    position: absolute;
    width: 250px;
    transition: .5s;

}

.input-field {
    font-size: 25px;
    width: 100%;
    padding: 20px 0 10px 0;
    margin: 10px 0 10px 0 ;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: t;
}

.submit-btn {
    
    width: 60%;
    height: 50px;
    cursor: pointer;
    display: block;
    margin: 35px 0 0 35px;
    background: rgb(36, 36, 36);
    color: white;
    outline: none;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px rgba(0, -10, 0, 0.27);

}

.check-b {
    width: 25px;
    margin: 20px 0px 0 0;
}

span{
    color: #777;
    font-size: 16px;
    bottom: 85px;
    position: absolute;
}

.p01 {
    font-size: 20px;
    margin: 475px 0 0 40px;
}

.incor {
    font-size: 20px;
    color: red;
    font-weight: 700;
    position: absolute;
    margin: 18% 0 0 24%;
}