* {
    margin: 0;
    padding: 0;
    ;
}

.box0 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img&icon/bg01.jpg);
    background-size: cover;
    position: absolute;
}

.for-box {
    width: 580px;
    height: 720px;
    position: relative;
    margin: 5% 0 0 34%;
    background: #fff;
    padding: 5px;
}

.botto {
    width: 440px;
    margin: 35px auto;
    position:  relative;
    box-shadow: 0 0 22px 10px #ff61241f;
    border-radius: 30px;
}

.botton01 {
    background: linear-gradient(to right, #5bff29,#6fc013);
    border-radius: 30px;
    transition: .5s; 
    font-size: 26px;
    padding: 10px 80px;
    margin: 0 0 0 15px;
    position: absolute;
}


.input-g {
    top: 120px;
    margin: 5px 0 0 130px;
    position: absolute;
    width: 320px;
    transition: .5s;

}

.input-field {
    font-size: 18px;
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 5px 0 10px 0 ;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: t;
}

.submit-btn {
    font-size: 18px;
    width: 38%;
    height: 60px;
    cursor: pointer;
    display: block;
    margin: 15px 0 0 65px;
    background: linear-gradient(to right, #5bff29,#6fc013);
    border: 1px solid #6fc013;
    outline: none;
    border-radius: 30px;

}

.check-b {
    width: 25px;
    margin: 20px 0px 0 0;
}

span{
    color: #777;
    font-size: 16px;
    bottom: 85px;
    position: absolute;
}

.p01 {
    font-size: 18px;
    margin: 600px 0 0 55px;
}

.regis-box label{
    text-align: left;
    display: block;
    font-size: 22px;
    margin: 3% 0 0 0;
    
}