<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Register</title>
</head>

<!-- ผู้รับผิดชอบ BIG(วิชัย 64070203) ผู้ช่วย รัชชานนท์ กาทิพย์64070220 ผู้ช่วย ปราโมทย์ จันทโสก 64070180-->

<!-- ทำหน้า register ยังทำไม่เสร็จ เหลือตรง form background ยังไม่ได้หารูป กับเปลี่ยน font ให้ส่วยงาม(bg-เดียวกับlogin)
     มีปัญหาอะไรพิมพ์ลงกลุ่มเลยนะ   (BIG  FB : Wichai kommongkhun)  เวลาเขียนโค้ดใหม่หรือแก้โค้ดเขียน comment 
    บอกเพื่อนทุกครั้งนะ ว่าทำอะ แก้ตรงไหน (เขียนชื่อ เเละช่องทางติดต่อส่วนตัวให้ด้วย)   -->


<body>
    <div class="box0"> 
        <div class="for-box">
            <div class="botto">   
                <div class="botton01"> Register/สมัครสมาชิก</div>
            </div>
                <form class="input-g" action="{{ url_for('register') }}" method="post" autocomplete="off">
                    <div class="regis-box">
                        <label for="username">Username/ชื่อผู้ใช้</label>
                        <input type="text" class="input-field" placeholder="ตัวอักษร หรือ ตัวเลข 6-18ตัว" required
                        maxlength="18" minlength="6" name="user" id="user">
                    </div>
                    <div class="regis-box">
                        <label for="pasword">Password/รหัสผ่าน</label>
                        <input type="password" class="input-field" placeholder="ตัวอักษรเเละตัวเลข 6-18ตัว" required
                        maxlength="18" minlength="6" name="password" id="password"> 
                    </div>
                    <div class="regis-box">
                        <label for="pasword">Password agian/รหัสผ่านอีกครั้ง</label>
                        <input type="password" class="input-field" placeholder="ตัวอักษรเเละตัวเลข 6-18ตัว" required
                        maxlength="18" minlength="6">
                    </div>
                    <div class="regis-box">
                        <label for="text">E-mail</label>
                        <input type="text" class="input-field" placeholder="example@hif.com" required name="email"
                        id="email">
                    </div>
                    <button type="submit" class="submit-btn" value="register">สมัครสมาชิก</button>
                </form>
                <p class="p01">ฉันเป็นสมาชิกเเล้ว <a href="http://127.0.0.1:5000/user_account/user_account_login">Sign in/เข้าสู่ระบบ</a></p> 
        </div>
        
    </div>
</body>
</html>